#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    z-index: 9999;
    display: flex; /* Flex para centrar */
}

/* Clases para marcar pasos */
.step-pending { opacity: 0.5; }
.step-active { font-weight: bold; color: #0d6efd; background-color: #e9ecef; }
.step-done { text-decoration: line-through; color: #198754; }
.step-error { color: #dc3545; font-weight: bold; }